.calc{
    width: 200px;
    background-color: rgb(29, 29, 29);
    padding: 1rem;
}
.display{
    background-color: rgb(2, 87, 42);
    color: black;
    display: flex;
    height: 60px;
    margin-bottom: 1rem;
}
.btn{
    background-color: tomato;
    color: white;
    width: 50px;
    height: 50px;
}

.digt{
    background-color: orange;
}